 PORT=8000
CORS_ORIGIN=*  /* any one access by using "*" */

//Access not store in database but refrese store in database
ACCESS_TOKEN_SECRET=OTUchdcghihbedjehdubejowxjduehd_EHFEGEHCECIJKRIVJRV
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=HUFH-HUDECEUUECBEGFE744YR
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=djdq2lycp
CLOUDINARY_API_KEY=599887211259362
CLOUDINARY_API_SECRET=8XGxuYjte98UfL5X49_Q5ylKuQU







 MONGOBD_URL=mongodb+srv://ayushrajsin30:ayush123@cluster0.zung9us.mongodb.net